body {
	margin: 0;
	padding: 0;
	background-image: url("../img/1img1.jpg");
	background-size: cover;
}

/*Card Structure*/
.container {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;		
	left: 60%;
	top: 10%;	
}
.card {
	background: pink;
	transition: 1s;
	box-shadow: inset 300px 0 50px lightblue;
	border: 1px solid darkblue;
	border-radius: 10px;
}
.card:hover {
	transform: perspective(2000px) rotate(-10deg);  /*TILT*/
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}

/*Inner Text*/
p {
	position: absolute;
	display: none;
	width: 280px;
	height: 400px;
	font-size: 25px;
	font-family: helvetica;
	padding: 20px;
	transition: 0.9s
	z-index: 0;
}
.card:hover p{
	display: block;
}

/*Card Text*/
.card .textBox {
	width: 300px;
	height: 400px;
	border: 1px solid #000;
	border-radius: 10px;
	transform-origin: left;
	z-index: 1000;
	transition: 1s

}
.card .textBox:hover {
	transform: rotateY(150deg);
}

h2 {
	position: absolute;
	font-size: 35px;
	color: white;
	background: darkblue;
	padding: 10px;
}


/*MEDIA QUERRIES*/
@media (max-width: 768px) {

body {
background-image: url("../img/1img2.jpg");
}

.container {	
	left: 35%;
	top: 10%;	
}
/*Inner Text*/
p {
	position: absolute;
	display: none;
	width: 190px;
	height: 230px;
	font-size: 15px;
	font-family: helvetica;
	padding: 8px;
	transition: 0.9s
}

/*Card Text*/
.card .textBox {
	width: 200px;
	height: 240px;
	border: 1px solid #000;
	transform-origin: left;
	z-index: 1000;
	transition: 1s
}
.card .textBox:hover {
	transform: rotateY(120deg);
}
h2 {
	font-size: 20px;
	color: white;
	background: darkblue;
	padding: 10px;
}
}
